.project__item {
  position: relative;
  margin-bottom: 5rem;
}
.project_item_reverse {
  position: relative;
  margin-bottom: 5rem;
}

.project_item_wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

.project_item_wrap_reverse {
  display: flex;
  flex-flow: row-reverse nowrap;
  align-items: flex-start;
}

/*--------RIGHT----------*/
.project_content_right {
  display: inline-block;
  margin-right: 2.5rem;
}

.project_content_right_reverse {
  display: inline-block;
  margin-left: 2.5rem;
}

/*__________Links*/
.project__links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
  padding-right: 1rem;
}

.project_item_link {
  margin-left: 0.875rem;
}

.project_item_link a {
  display: inline-flex;
  place-content: space-around;
  place-items: center;
  width: 2em;
  height: 2em;
  padding: 1em;
  border-radius: 50px;
  background-color: var(--clr-primary-3);
  transition: all 200ms ease-out;
}

.project_item_link.site a {
  width: 9.5em;
}

.project_item_link.github:hover a,
.project_item_link.site:hover a {
  background-color: var(--clr-primary-1);
}

.project_link_icon {
  width: 1.25rem;
  color: var(--clr-bg);
}

.project_link_text {
  font-size: 1rem;
  font-weight: 500;
  color: var(--clr-bg);
  animation: show 500ms ease-in;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*__________Images*/
.project_background_img {
  position: relative;
  width: 650px;
  height: 10rem;
  transition: all 300ms ease-in-out;
  border-radius: 1px;
}

.project_img_container {
  position: relative;
  width: inherit;
  height: inherit;
  border-radius: 8px;
  outline: 1px solid var(--clr-bg);
  cursor: pointer;
  overflow: hidden;
}

.project_img_container img {
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 400ms var(--ease-images);
}

.project_img_container:hover img {
  transform: translate(-50%, -50%) scale(1.05);
}

/*--------Info*/
.project__info {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
}

.project_info_container {
  display: flex;
  align-items: center;
  padding-bottom: 1.5rem;
}

.project__line {
  width: 45px;
  height: 0;
  border: 1px solid var(--clr-primary-3);
  margin: 0 1rem;
}

.project_info_container span {
  font-size: var(--size-info-project);
  font-weight: 500;
  color: var(--clr-primary-3);
  line-height: 1.25rem;
  letter-spacing: 2px;
}

.project_info_container .number {
  font-size: 1rem;
  font-weight: 500;
  color: var(--clr-primary-1);
  line-height: 1.5rem;
  opacity: 1;
}

/*--------LEFT----------*/
.project_content_left {
  display: inline-block;
  margin-top: 2.5rem;
}

/*--------Title*/
.project__title {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.project__title h2 {
  font-size: var(--size-title-project);
  font-weight: 500;
  color: var(--clr-primary-2);
  line-height: 2rem;
}

.project__text {
  width: 20vw;
  padding-left: 1rem;
}

.project__text p {
  font-size: var(--size-text-project);
  font-weight: normal;
  color: var(--clr-primary-2);
  line-height: 1.75rem;
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .project__item {
    margin-bottom: 10rem;
  }
  .project_item_reverse {
    display: flex;
    place-content: flex-end;
    margin-bottom: 10rem;
  }
  .project_item_wrap {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }
  .project_item_wrap_reverse {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .project_content_right {
    margin-right: 0;
  }
  .project_content_right_reverse {
    margin-left: 0;
  }

  .project_item_link {
    margin-left: 1rem;
  }
  .project_item_link a {
    width: 2.5em;
    height: 2.5em;
  }
  .project_link_icon {
    width: 1.5rem;
  }

  .project__img {
    width: 700px;
    height: 14rem;
  }

  .project_info_container {
    padding-bottom: 0;
  }
  .project__info {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  .project_info_container span {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .project_info_container .number {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .project_content_left {
    margin-top: 0.5rem;
  }
  .project__title {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
  }
  .project__title h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .project__text {
    width: 100%;
    padding-left: 1rem;
  }
  .project__text p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .project_img_container img {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 768px) {
  .project__item {
    display: flex;
    place-content: center;
    place-items: center;
    margin-bottom: 10rem;
  }
  .project_item_reverse {
    display: flex;
    place-content: center;
    place-items: center;
    margin-bottom: 10rem;
  }
  .project__img {
    width: 85vw;
    height: 14rem;
  }
}

@media (max-width: 640px) {
  .project__img {
    width: 90vw;
    height: 21rem;
  }
  .project_img_container img {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
