.hero {
  padding-bottom: 30vh;
}

.hero__wrap {
  position: relative;
}

/*-------Name*/
.hero__name {
  display: flex;
  align-items: center;
}

.hero__line {
  width: 50px;
  border: 1px solid var(--clr-gray);
  margin: 0 2rem;
}

.hero__name h3 {
  font-size: var(--size-subtitle-hero);
  font-weight: 500;
  color: var(--clr-white);
  line-height: 1.75rem;
}

/*-------Title*/
.hero__title {
  margin-top: 2rem;
}

.hero__title h1 {
  font-size: var(--size-title-section);
  font-weight: bold;
  color: var(--clr-white);
  line-height: 1;
}

.hero__content {
  display: inline-block;
  margin-left: 40rem;
}

/*-------Text*/
.hero_text_container {
  margin-bottom: 2.5rem;
  margin-top: 7rem;
}

.hero__text {
  font-size: var(--size-text-hero);
  font-weight: normal;
  color: var(--clr-white);
  line-height: 1.75rem;
  opacity: 0.5;
}

/*--------Button*/
.hero__contact {
  max-width: 700px;
}

.hero_contact_container {
  min-width: 280px;
}

/*------Forme*/
.hero_img_bg {
  position: absolute;
  top: 87px;
  left: -55px;
  width: 600px;
  height: 600px;
  z-index: -9999;
}

.hero_img_bg img {
  transform: rotate(45deg);
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  from {
    transform: translateY(0px) rotate(0deg);
  }
  25% {
    transform: translateY(-25px) rotate(2deg);
  }
  50% {
    transform: translateY(-50px) rotate(0deg);
  }
  75% {
    transform: translateY(-25px) rotate(-2deg);
  }
  to {
    transform: translateY(0px) rotate(0deg);
  }
}
