/*.app-cursor {*/
/*  position: fixed;*/
/*  width: 24px;*/
/*  height: 24px;*/
/*  outline: 2px solid var(--clr-primary-1);*/
/*  border-radius: 50%;*/
/*  overflow: hidden;*/
/*  transform: translate3d(0, 0, 0);*/
/*  !*mix-blend-mode: difference;*!*/
/*}*/

.app-cursor {
  position: fixed;
  width: 80px;
  height: 80px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  pointer-events: none;
}
