.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 7rem);
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
}

.modal_img_container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30vw;
  transform: translate(-50%, -50%);
}

.modal__close {
  position: absolute;
  top: 20%;
  right: 27%;
  cursor: pointer;
  color: white;
}

/*.modal_img_container {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  width: 500px;*/
/*  background-color: green;*/
/*}*/
