.header {
  width: 100vw;
}

.header__nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: auto;
  z-index: 8888;
}

/*----------TOP*/
.header__top {
  display: inline-block;
  width: 100%;
  height: 5rem;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: var(--clr-bg) 0.7;
}

.header_top_wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  padding: 0 8rem;
}

.header__logo {
  display: inline-flex;
  place-items: center;
  height: 100%;
  outline: none;
  transition: var(--transition) 200ms;
}

.header__logo.over {
  width: 6rem;
  transform: translateX(0);
}
.header__logo.leave {
  width: 150px;
  transform: translateX(10px);
}

.header__logo .cls-1 {
  stroke: var(--clr-primary-2);
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 8px;
}

.header__logo .cls-2 {
  font-family: var(--font-primary-1);
  font-size: 50px;
  font-weight: bold;
  fill: var(--clr-primary-2);
}

.header__logo .cls-2.over {
  opacity: 1;
  transform: translate(74px, 44px);
  transition: var(--transition) 350ms;
}

.cls-2.leave {
  opacity: 0;
  transform: translate(40px, 44px);
  transition: all 200ms;
}

/*---------Buttons*/
.header__buttons {
  display: inline-flex;
}

/*--------ButtonMode*/
.header__mode {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 21px;
  border-radius: 50px;
  border: 2px solid var(--clr-primary-3);
  background-color: transparent;
  transition: all 200ms;
  cursor: pointer;
}

.header__mode:hover {
  background-color: var(--clr-bg-2);
  border: 2px solid var(--clr-bg-2);
}
.header__mode:active {
  background-color: var(--clr-bg);
  border: 2px solid var(--clr-bg-2);
}

.header_mode_container {
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  width: 2rem;
  height: 1.25rem;
  z-index: 10;
  overflow: hidden;
}

.header_icon_container {
  position: absolute;
  display: inline-flex;
  place-content: space-between;
  place-items: center;
  width: 4rem;
  height: 100%;
  transform: translateX(22px);
  transition: var(--transition) 200ms;
}
.header_icon_container.active {
  transform: translateX(-22px);
  transition: var(--transition) 200ms;
}

.header_mode_icon {
  width: 1.25rem;
  color: var(--clr-primary-2);
}

/*-------Menu*/
.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 21px;
  margin-left: 1rem;
  border-radius: 50px;
  border: 2px solid var(--clr-primary-3);
  background-color: transparent;
  transition: background 200ms;
  cursor: pointer;
}

.header__menu:hover {
  background-color: var(--clr-bg-2);
  border: 2px solid var(--clr-bg-2);
}
.header__menu:active {
  background-color: var(--clr-bg);
  border: 2px solid var(--clr-bg-2);
}

.header_line_container {
  display: inline-flex;
  place-content: center;
  place-items: center;
  width: 2rem;
  height: 1.25rem;
}

.header_line_menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 2px;
  transform: translateY(-5px);
  transition: var(--transition);
  background-color: var(--clr-primary-2);
}

.header_line_menu {
  position: relative;
  width: 12px;
  height: 2px;
  transform: rotate(90deg);
  transition: var(--transition) 150ms;
  background-color: var(--clr-primary-2);
}

.header_line_menu::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 2px;
  transform: translateY(5px);
  transition: var(--transition);
  background-color: var(--clr-primary-2);
}

.header_line_menu.active {
  transform: rotate(0);
}

/*-------Close*/
.header__close {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 21px;
  border-radius: 50px;
  border: 2px solid var(--clr-primary-3);
  background-color: transparent;
  transition: background 200ms;
  cursor: pointer;
}

.header__close:hover {
  background-color: var(--clr-bg-2);
  border: 2px solid var(--clr-bg-2);
}
.header__close:active {
  background-color: var(--clr-bg);
  border: 2px solid var(--clr-bg-2);
}

.header_close_container {
  position: relative;
  display: block;
  width: 2rem;
  height: 1.25rem;
}

.header_line_close {
  position: absolute;
  top: 3.5px;
  width: 2px;
  height: 12px;
  transform: translateZ(0);
  background-color: var(--clr-primary-2);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 600ms;
}
.header_line_close:first-child {
  left: 10px;
}
.header_line_close:nth-child(2) {
  right: 15px;
}
.header_line_close:nth-child(3) {
  right: 10px;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1),
    opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 600ms;
}

.header__close.is-active .header_line_close:first-child {
  transform: translateX(5px) rotate(45deg);
}
.header__close.is-active .header_line_close:nth-child(2) {
  transform: translateX(0px) rotate(-45deg);
}
.header__close.is-active .header_line_close:nth-child(3) {
  opacity: 0;
}

/*----------BOTTOM*/
.header__bottom {
  display: flex;
  place-content: center;
  align-items: center;
  width: 100%;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: var(--clr-bg) 0.7;
  transition: all 300ms;
  overflow: hidden;
  z-index: 9999;
}

.header_bottom_wrap {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header_nav_cursor {
  position: absolute;
  border-radius: 50px;
  background-color: var(--clr-primary-1);
  transition: all 200ms ease-out;
  z-index: -10;
}

.header__list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.header__item {
  display: inline-block;
  cursor: pointer;
}

.header__list li:not(:last-of-type) {
  margin-right: 3rem;
}

.header_item_text {
  display: inline-block;
  font-size: var(--size-text-header);
  font-weight: 500;
  color: var(--clr-primary-3);
  border-radius: 50px;
  padding: 10px 21px;
  line-height: 1.5rem;
  transition: all 200ms;
}

.header_item_text.active {
  color: var(--clr-primary-2);
}
.header_item_text.active > .header_nav_cursor {
  background-color: var(--clr-primary-1);
}

@media (max-width: 1280px) {
  .header_top_wrap {
    padding: 0 5rem;
  }
}

@media (max-width: 1024px) {
  .header_top_wrap {
    padding: 0 1rem;
  }
}

@media (max-width: 768px) {
  .header_top_wrap {
    padding: 0 1rem;
  }
  .header__list li:not(:last-of-type) {
    margin-right: 1.5rem;
  }
}

@media (max-width: 640px) {
  .header_top_wrap {
    padding: 0 1rem;
  }
}
