.header {
  width: 100vw;
}

.header__nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: auto;
  z-index: 9999;
}

/*----------TOP*/
.header__top {
  display: inline-block;
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid var(--clr-gray);
  background-color: var(--clr-bg);
}

.header_top_wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  padding: 0 8rem;
}

.header__logo {
  display: inline-flex;
  width: 6rem;
  height: auto;
  place-items: center;
}
/*---------Buttons*/
.header__buttons {
  display: inline-flex;
}

/*--------ButtonMode*/
.header__mode {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 21px;
  border-radius: 50px;
  border: 2px solid var(--clr-lightgray);
  background-color: transparent;
  transition: all 200ms;
  cursor: pointer;
}

.header__mode:hover {
  background-color: var(--clr-gray);
  border: 2px solid var(--clr-gray);
}

.header_mode_container {
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  width: 2rem;
  height: 1.25rem;
  z-index: 10;
  overflow: hidden;
}

.header_icon_container {
  position: absolute;
  display: inline-flex;
  place-content: space-between;
  place-items: center;
  width: 4rem;
  height: 100%;
  transform: translateX(22px);
  transition: var(--transition) 200ms;
}
.header_icon_container.active {
  transform: translateX(-22px);
  transition: var(--transition) 200ms;
}

.header_mode_icon {
  width: 1.25rem;
  color: var(--clr-white);
}

/*-------Menu*/
.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 21px;
  margin-left: 1rem;
  border-radius: 50px;
  border: 2px solid var(--clr-lightgray);
  background-color: transparent;
  transition: background 200ms;
  cursor: pointer;
}

.header__menu:hover {
  background-color: var(--clr-gray);
  border: 2px solid var(--clr-gray);
}

.header_line_container {
  display: inline-flex;
  place-content: center;
  place-items: center;
  width: 2rem;
  height: 1.25rem;
}

.header__line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 2px;
  transform: translateY(-5px);
  transition: var(--transition);
  background-color: var(--clr-white);
}

.header__line {
  position: relative;
  width: 12px;
  height: 2px;
  transform: rotate(90deg);
  transition: var(--transition) 150ms;
  background-color: var(--clr-white);
}

.header__line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 2px;
  transform: translateY(5px);
  transition: var(--transition);
  background-color: var(--clr-white);
}

.header__line.active {
  transform: rotate(0);
  width: 7px;
}
.header__line.active::after {
  left: -5px;
  width: 7px;
}
.header__line.active::before {
  left: 5px;
  width: 7px;
}

/*----------BOTTOM*/
.header__bottom {
  display: flex;
  place-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--clr-gray);
  background-color: var(--clr-bg);
  transition: var(--transition);
  overflow: hidden;
  z-index: 9999;
}

.header_bottom_wrap {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header_nav_cursor {
  position: absolute;
  border-radius: 50px;
  background-color: var(--clr-gray);
  transition: all 200ms;
  z-index: -10;
}

.header__list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.header__item {
  display: inline-block;
  cursor: pointer;
}

.header__list li:not(:last-of-type) {
  margin-right: 3rem;
}

.header__item span {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  color: var(--clr-white);
  border-radius: 50px;
  padding: 10px 21px;
  line-height: 1.5rem;
}



@media (max-width: 1280px) {
  .header_top_wrap {
    padding: 0 5rem;
  }
}

@media (max-width: 1024px) {
  .header_top_wrap {
    padding: 0 1rem;
  }
}

@media (max-width: 768px) {
  .header_top_wrap {
    padding: 0 1rem;
  }
  .header__list li:not(:last-of-type) {
    margin-right: 1.5rem;
  }
}

@media (max-width: 640px) {
  .header_top_wrap {
    padding: 0 1rem;
  }
}