.footer {
  border-top: 1px solid var(--clr-gray);
}

.footer__nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 3.75vw;
  margin-top: 2vh;
  margin-bottom: 20vh;
}

/*--------Réseaux*/
.footer_social_title {
  margin-bottom: 1rem;
}

.footer_social_title h4 {
  font-size: var(--size-title-footer);
  font-weight: bold;
  color: var(--clr-white);
  line-height: 1.5rem;
}

.footer_social_list {
  display: inline-flex;
  align-items: center;
}

.footer_social_item {
  margin-right: 1.5rem;
}

.footer_social_item a {
  display: flex;
  place-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--clr-lightgray);
  transition: background 200ms;
  cursor: pointer;
}
.footer_social_item a:hover {
  background-color: var(--clr-primary-1);
}

.footer_social_icon {
  width: 1.5rem;
  color: var(--clr-bg);
}

/*-------Contact*/
.footer_contact_title {
  margin-bottom: 1rem;
}

.footer_contact_title h4 {
  font-size: var(--size-title-footer);
  font-weight: bold;
  color: var(--clr-white);
  line-height: 1.5rem;
}

.footer_contact_mail {
  margin-bottom: 0.5rem;
}
.footer_contact_mail a {
  display: inline-block;
  font-size: var(--size-text-contact);
  font-weight: normal;
  color: var(--clr-white);
  line-height: 1.5rem;
}

/*-----Btn-back*/
.footer__back {
  display: flex;
  place-content: flex-end;
  place-items: flex-start;
}

.footer_back_btn {
  outline: none;
  font-family: var(--font-primary-1);
  border-radius: 50px;
  border: 2px solid var(--clr-lightgray);
  transition: all 200ms;
  background-color: transparent;
  cursor: pointer;
}
.footer_back_btn:hover {
  background-color: var(--clr-gray);
  border: 2px solid var(--clr-gray);
}

.footer_back_btn_container {
  display: flex;
  place-content: center;
  place-items: center;
  padding: 12px 16px 12px 21px;
}

.footer_back_btn span {
  font-size: 1rem;
  font-weight: bold;
  color: var(--clr-white);
  white-space: nowrap;
  line-height: 1.5rem;
  cursor: pointer;
}

.footer_back_icon {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--clr-white);
  line-height: 1.5rem;
  white-space: nowrap;
  margin-left: 0.6rem;
  cursor: pointer;
}


@media (max-width: 768px) {
  .footer__nav {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10vw 0;
    margin-top: 5vh;
  }
  .footer__back {
    display: flex;
    place-content: flex-start;
    place-items: flex-start;
  }
  .footer_social_title h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .footer_social_item a {
    width: 3rem;
    height: 3rem;
  }
  .footer_social_icon {
    width: 1.875rem;
    color: var(--clr-bg);
  }

  .footer_contact_title h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .footer_contact_mail a {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .footer_back_btn_container {
    padding: 16px 20px 16px 28px;
  }
  .footer_back_btn span {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
