@font-face {
  font-family: "GT Walsheim Pro";
  src: url("assets/fonts/GTWalsheimPro/GTWalsheimPro-Regular.eot");
  src: local("GT Walsheim Pro Regular"), local("GTWalsheimPro-Regular"),
    url("assets/fonts/GTWalsheimPro/GTWalsheimPro-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/GTWalsheimPro/GTWalsheimPro-Regular.woff2")
      format("woff2"),
    url("assets/fonts/GTWalsheimPro/GTWalsheimPro-Regular.woff") format("woff"),
    url("assets/fonts/GTWalsheimPro/GTWalsheimPro-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("assets/fonts/GTWalsheimPro/GTWalsheimPro-Medium.eot");
  src: local("GT Walsheim Pro Medium"), local("GTWalsheimPro-Medium"),
    url("assets/fonts/GTWalsheimPro/GTWalsheimPro-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/GTWalsheimPro/GTWalsheimPro-Medium.woff2") format("woff2"),
    url("assets/fonts/GTWalsheimPro/GTWalsheimPro-Medium.woff") format("woff"),
    url("assets/fonts/GTWalsheimPro/GTWalsheimPro-Medium.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("assets/fonts/GTWalsheimPro/GTWalsheimPro-Bold.eot");
  src: local("GT Walsheim Pro Bold"), local("GTWalsheimPro-Bold"),
    url("assets/fonts/GTWalsheimPro/GTWalsheimPro-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/GTWalsheimPro/GTWalsheimPro-Bold.woff2") format("woff2"),
    url("assets/fonts/GTWalsheimPro/GTWalsheimPro-Bold.woff") format("woff"),
    url("assets/fonts/GTWalsheimPro/GTWalsheimPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary-1);
  background-color: var(--clr-bg);
  color: var(--clr-white);
  font-size: 100%;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

li,
ul {
  list-style-type: none;
}

button,
input {
  outline: none;
}

img,
svg {
  display: block;
  width: 100%;
  height: auto;
}

:root {
  --size-text-header: 2rem;
  --size-text-navbar: 1rem;
  --size-title-section: 5rem;
  --size-subtitle-hero: 1.25rem;
  --size-text-hero: 1.25rem;
  --size-title-project: 1.5rem;
  --size-text-project: 1.125rem;
  --size-info-project: 0.875rem;
  --size-title-contact: 3.75rem;
  --size-text-contact: 1.25rem;
  --size-text-btn: 3rem;
  --size-title-footer: 1rem;
  --size-text-footer: 1rem;

  --clr-primary-1: #00d6c8;
  --clr-bg: #181818;
  --clr-bg-2: #242424;
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-gray: #2a2a2a;
  --clr-lightgray: #8c8c8c;

  --font-primary-1: GT Walsheim Pro, sans-serif;
  --font-primary-2: Basis Grotesque Pro, sans-serif;

  --transition: all 500ms cubic-bezier(0.16, 1, 0.3, 1);
  --site-width: 50vw;
  --image-filter: grayscale(50%);
}

/*[data-theme="dark"] {*/
/*  --clr-bg: #dbdbdb;*/
/*  --clr-primary-1: #000;*/
/*  --clr-primary-2: #f5410a;*/
/*  --clr-primary-1-rgb: 0, 0, 0;*/
/*  --clr-white: #ffffff;*/
/*  --clr-black: #000000;*/

/*  --font-1: GT Walsheim Pro, sans-serif;*/

/*  --transition: 300ms cubic-bezier(0.16, 1, 0.3, 1);*/
/*  --site-width: 40vw;*/
/*}*/

.main {
  overflow-x: hidden;
}

.container {
  max-width: var(--site-width);
  margin: 0 auto;
}

.section {
  padding-bottom: 10vh;
}

.section__title {
  padding-top: 5rem;
  padding-bottom: 7rem;
}
.section__title h1 {
  font-size: var(--size-title-section);
  font-weight: bold;
  color: var(--clr-white);
  line-height: 1;
}

.button__contact {
  font-family: var(--font-primary-1);
  display: flex;
  align-items: center;
  width: 600px;
  height: 80px;
  border: 1px solid var(--clr-lightgray);
  border-radius: 15px;
  background: transparent;
  overflow: hidden;
  cursor: pointer;
}

.icon__container {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2.5rem;
  margin-right: 3rem;
  border-right: 1px solid var(--clr-lightgray);
}

.icon__contact {
  font-size: 1.25rem;
  color: var(--clr-lightgray);
}

.mail__contact h4 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--clr-white);
}
